* {
  scroll-behavior: smooth;
  -webkit-user-drag: none;
}
body {
  background-color: #181133;
  overflow-x: hidden;
  touch-action: pan-y;
}
a {
  text-decoration: none;
}
main {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 89vh;
  background-image: linear-gradient(#2a719f, #17285c, #181133);
}
.welcome {
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.english-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
  padding-left: 40px;
}
.english-title > span:first-child {
  font-size: 3.1rem;
}
.arabic-title,
.english-title {
  font-size: 1.85rem;
}
.arabic-title {
  text-align: right;
  font-family: "Amiri", serif;
  font-weight: normal;
}
.fade-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.fade-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.fade-in-left.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-right.is-visible {
  opacity: 1;
  transform: translateX(0);
}
.welcome-arabic {
  font-size: 3.1rem;
}
.welcome-img {
  position: relative;
  right: 0;
  top: 0;
  border-radius: 0px 0px 5px 1000px;
  border-left: 5px solid #2a719f;
  width: 815px;
  height: 89vh;
  overflow: hidden;
  pointer-events: auto;
  z-index: 9;
}
.welcome-img video {
  position: relative;
  width: 810px;
  object-fit: cover;
  pointer-events: none;
}
.box-title-container {
  width: 89.5%;
  margin: 6rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: linear-gradient(#2a719f, #17285c, #181133);
  border-radius: 1rem;
  height: 80px;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.3s 0.3s ease;
}
.box-title {
  cursor: default;
  font-size: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  width: fit-content;
  color: #6ab9ee;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  position: relative;
}
.box-title::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: calc(100% + 2rem);
  height: 7px;
  bottom: -10px;
  left: -1rem;
  background-color: #fff;
}
.box-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e2e2e2;
  width: 300px;
  height: 400px;
  background-color: #4cb9e7;
  margin-bottom: 20px;
  border-radius: 0px 60px 0px 60px;
  transition: border-radius 0.3s 0s ease, rotate 0.2s 0s ease,
    box-shadow 0.2s 0s ease, transform 0.2s 0s ease, filter 0.5s 0s ease;
}
.card img {
  border-radius: 0px 60px 0px 0px;
  transition: border-radius 0.3s 0s ease;
  height: 173px;
}
.card h2 {
  font-family: "Comic Sans MS", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif, cursive;
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
  margin: 0px 0px 2rem 0px;
  background-color: #0e1b51;
  transition: font-size 0.3s 0s ease, background-color 0.3s 0s ease,
    color 0.3s 0s ease;
  cursor: pointer;
  user-select: none;
}
p {
  text-align: center;
}
.card:hover {
  border-radius: 15px;
  box-shadow: 3px 3px 13px #67c1e8, -3px -3px 13px #67c1e8;
  transform: scale(1.1);
}
.card:hover img {
  border-radius: 15px 15px 0px 0px;
}
.card:hover h2 {
  font-size: 2rem;
  background-color: #e2e2e2;
  color: #0e1b51;
}
.card ol {
  list-style: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  font-family: "Domine", serif;
}
.card ol li {
  margin-bottom: 0.5rem;
  font-size: 1.15rem;
  font-family: "Alatsi", sans-serif;
  font-style: normal;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: color 0.2s 0s ease;
}
.card ol li::marker {
  margin: 0;
  transition: color 0.2s 0s ease;
}
.card ol li::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  z-index: -1;
  background-color: #0e1b51;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s 0s ease;
  left: -12px;
}
.card ol li:hover::before {
  transform: scale(1);
}
ol a li {
  color: white;
}
h2 a {
  text-decoration: none;
  color: #e2e2e2;
  display: block;
}
.card:hover h2 a {
  color: #0e1b51;
}
.card {
  filter: blur(2px) grayscale(100%);
}
.card1-sheet {
  filter: blur(0px) grayscale(0%);
}
.card h2 {
  cursor: default;
}
.card:hover {
  filter: blur(0) grayscale(100%);
  box-shadow: none;
}
.card1-sheet:hover {
  filter: blur(0px) grayscale(0%);
}
.coming-soon {
  margin-top: 2.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.6rem;
  text-shadow: 2px 2px black;
}
.test {
  animation-name: word;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  padding: 0.4rem;
  font-weight: bolder;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #00ffe5,
    #00ffe5,
    #f5d134,
    #f5d134
  );
  background-size: 400%;
  background-position: left;
  transition: background-position 2s 0s ease;
}
@keyframes word {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
::-webkit-scrollbar {
  width: 1rem;
  background-color: #0a153e;
}
::-webkit-scrollbar-thumb {
  background-color: #4cb9e7;
  border-radius: 5px;
}
a:visited {
  color: #e2e2e2;
}
.card a:-webkit-any(link) {
  color: #e2e2e2;
}
.locked-button {
  /* pointer-events: none; */
  cursor: not-allowed !important;
}
