@media (max-width: 924px) {
  .footer p {
    font-size: 1rem;
  }
  .contact-icon {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 704px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .footer p {
    font-size: 0.7rem;
  }
  .contact-icon {
    width: 5px;
    height: 5px;
  }
}
@media (max-width: 585px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .footer p {
    font-size: 0.5rem;
  }
}
@media (max-width: 490px) {
  h1 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 0.9rem;
  }
  .card p {
    font-size: 0.9rem;
  }
  .footer p {
    font-size: 0.4rem;
  }
  .contact-icon {
    width: 15px;
    height: 15px;
  }
}
